<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Shift - Move Smarter</title>

    <!-- TailwindCSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        cyan: {
                            400: '#22d3ee',
                        },
                    },
                    fontFamily: {
                        inter: ['Inter', 'sans-serif']
                    }
                }
            }
        }
    </script>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customer.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body class="font-inter bg-gray-100 text-gray-800">
    @RenderBody()

    <script src="/js/site.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    @RenderSection("Scripts", required: false)


</body>
</html>