@using EShift.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div class="flex space-x-4 items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="/Identity/Account/Manage" class="hover:text-red-400">@User.Identity.Name</a>
        <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="inline">
            <button type="submit" class="hover:text-red-400">Logout</button>
        </form>
    }
    else
    {
        <a href="/Identity/Account/Login" class="hover:text-red-400">Login</a>
        
        <a asp-controller="Account" asp-action="Register"  class="btn-primary btn-orange text-white px-6 py-3 rounded-full shadow-md hover:shadow-xl transition w-full md:w-auto">
            Get Started
        </a>
    }
</div>